.qr-login-container {
    display: flex;
    justify-content: center;
}

.qr-login-container .qr-login {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
}

a.qr-login-link:hover {
    text-decoration: none;
}

canvas#qr-canvas {
    width: 200px !important;
    height: 200px !important;
}

.checksum {
    color: #000;
    font-size: 22px;
    padding-bottom: 12px;
}

.qr-data {
    background-color: white;
    padding: 12px;
    border-radius: 8px;
}

.add-qr {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.add-col {
    display: inline-block;
    margin: 25px;
}

.avatar {
    width: 120px;
    height: 160px;
    object-fit: cover;
    border-radius: 12px;
}

.profile-data-table {
    width: auto;
    display: inline-table;
    margin-bottom: 0;
}
.profile-data-table tr td {
    padding: 2px 4px;
}
.profile-data-table tr td.left {
    text-align: left;
}
.profile-data-table tr td.right {
    text-align: right;
    font-weight: 700;
}
