.qr-login-container {
    display: flex;
    justify-content: center;
}

.qr-login-container .qr-login {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
}

a.qr-login-link:hover {
    text-decoration: none;
}

canvas#qr-canvas {
    width: 200px !important;
    height: 200px !important;
}

.checksum {
    color: #000;
    font-size: 22px;
    padding-bottom: 12px;
}

.qr-data {
    background-color: white;
    padding: 12px;
    border-radius: 8px;
}

.add-profile-qr {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.add-profile-col {
    display: inline-block;
    margin: 25px;
}
